// "carousel-section
.carousel-section {
  background: #f0f4fc;
  margin-top: 30px;
  border-radius: 10px;
  .carouselTop {
    h1 {
      text-align: center;
      margin: 0;
      font-size: 20px;
      font-weight: 500;
      color: #000000;
      font-family: "Roboto", sans-serif;
      padding: 30px;
    }
  }
  .carousel-inner img {
    position: relative;
    width: 100%;
    height: 40%;
  }
  .carousel-inner-item {
    position: absolute;
    bottom: 40px;
    color: white;
    button{
      padding: 8px 10px;;
    }
    p{
      font-size: 12px;
    }
    h1 {
      margin: 0;
      font-size: 30px;
      font-weight: 500;
      font-family: "Roboto", sans-serif;
      padding-bottom: 20px;
    }
  }
}

// new section

.news-section{
  h5{
    font-family: "Roboto", sans-serif;
    color: #000000;
    font-size: 15px;
    margin-bottom: 0px;
  }
  .text-muted-custom{
    font-size: 9px;
    
  }
  p{
    margin-bottom: 0rem;
    line-height: 1.0;
  }
  a{
    font-size: 11px;
    line-height: 0.7;
  }
  .right{
    margin-left: 30%;
  }
  .card{
    border: none !important;
    margin-top: 10px;
  }
  .card-body{
    border: #000;
    box-shadow: 0px 2px 0px 1px #b6b4b4;
    border-radius: 10px;
  }
}