// "carousel-section
.carousel-section {
  background: #f0f4fc;
  margin-top: 30px;
  border-radius: 10px;
  .carouselTop {
    h1 {
      text-align: center;
      margin: 0;
      font-size: 20px;
      font-weight: 500;
      color: #000000;
      font-family: "Roboto", sans-serif;
      padding: 30px;
    }
  }
  .carousel-inner img {
    position: relative;
    width: 100%;
    height: 40%;
  }
  .carousel-inner-item {
    position: absolute;
    bottom: 40px;
    color: white;
    button {
      padding: 8px 10px;
    }
    p {
      font-size: 12px;
    }
    h1 {
      margin: 0;
      font-size: 30px;
      font-weight: 500;
      font-family: "Roboto", sans-serif;
      padding-bottom: 20px;
    }
  }
}

// new section

.news-section {
  margin-top: 30px;
  h5 {
    font-family: "Roboto", sans-serif;
    color: #000000;
    font-size: 15px;
    margin-bottom: 0px;
    padding-left: 5%;
    padding-top: 5%;
  }
  h1 {
    font-family: "Roboto", sans-serif;
    color: blue;
    font-size: 25px;
  }
  h3 {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
  }
  .text-muted-custom {
    font-size: 9px;
  }
  p {
    margin-bottom: 0rem;
    line-height: 1;
    padding-left: 5%;
    padding-top: 5%;
  }
  a {
    font-size: 11px;
    line-height: 0.7;
  }
  .right {
    margin-left: 50%;
    margin-bottom: 5%;
  }
  .card {
    border: none !important;
    margin-top: 10px;
  }
  .card-body {
    border: #000;
    box-shadow: 0px 2px 0px 0px #b6b4b4;
    padding: 10px 0px !important;
  }
  .card-text {
    padding-right: 10px;
  }
  .socialFeeds {
    margin-top: 40px;
    .insta button {
      color: white;
      background: #7E2EA6;
      display: flex;
      text-align: center;
      margin: 50px auto;
    }
    img{
      height:115%
    }
    .fb button {
      color: white;
      background: #2E58A6;
      display: flex;
      text-align: center;
      margin: 50px auto;
    }

    span.fbIcon {
      background: url(../svg//fbIcon.svg) no-repeat;
      background-size: contain;
      cursor: pointer;
      display: inline-block;
      height: 20px;
      width: 25px;
      margin-top: 3px;
    }
    span.instaIcon {
      background: url(../svg/instaIcon.svg) no-repeat;
      background-size: contain;
      cursor: pointer;
      display: inline-block;
      height: 20px;
      width: 25px;
      margin-top: 5px;
    }
  }
}
