//--------------------------- OVERALL PROJECT VARIABLES STARTS-----------------------
//variables
//--COLOR VARIABLES
//original colors

$offwhite: #f5f2ff;
$offwhite2: #dfd9f7;
$offwhite3: #f3f0ff;
$offwhite4: #f9f7ff;
$primaryColor1: #ffffff;
$primaryColor2:#48BEFF;


$blue: #3ba2f6;
$green: #04caa7;
$lightBlue: #3cd4f6;
$yellow: #f6aa3a;
$orange: #f17849;
$red: #f54949;
$lightPurple: #8f82f5;
$lightGreen: #94d954;
$mediumPurple: #b78ebf;
$purple:#3E335E;
$dark-blue:#0267AA;


$black: #000000;
$white:#FFF;
$purple4: #9783cf;
$purple2: #9783cf;
$purple3: #beb6e0;
$gray3: #cccccc;
$shine-background-color: #584d78;
$grayScale: #ddd;
$darkBlue: #3e335e;

$imp: !important;
//affliate colors
$light-blue:#77B5DF;
$dark-blue:#0267AA;
$blue-white:#E7F4FD;
$background-color:#E1ECF3;
//new colors
$font-color-light_grey_purple:#8d82ab;
$back-color-pale_purple_dark:#DFD9F7;


$back-color-light_purple:#9783cf;
$back-color-pale_purple_light:#F1EDFF;
$back-color-pale_purple_dark:#DFD9F7;
$ViewsCnt: #f1edff;
$gray: #646464;
$gray2: #c3c3c3;
$gray3: #cccccc;
$gray60: #999999;
$gray20: #333333;

$RubikRegular: "rubik", Arial, sans-sarif;
$RubikBold: "rubikbold", Arial, sans-sarif;
$RubikMedium: "rubikmedium", Arial, sans-sarif;